body {
	background: #d3f0f7;
	width: 50%;
	margin-left: 25%;
}

section {
	background: #ffffff;
	box-shadow: 2px 2px 4px #aaaaaa;
	margin: 10px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
}


footer {
	font-size: small;
	border-top: 1px solid #c0c0c0;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #c0c0c0;
	width: 49.5em;
}
