body {
	background: #d3f0f7;
	width: 50%;
	margin-left: 25%;
}

section {
	background: #ffffff;
	box-shadow: 2px 2px 4px #aaaaaa;
	margin: 10px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
}


footer {
	font-size: small;
	border-top: 1px solid #c0c0c0;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #c0c0c0;
	width: 49.5em;
}

ul, ol, dl {
        margin-top: 0.2em;
        padding-top: 0;
        margin-bottom: 0.8em;
        //margin: -0.5em;
        //line-height: 90%;
}

dl#refs > dt {
        margin-top: 0;
        margin-bottom: 0;
        width: 7%;
        float: left;
}

dl#refs {
        margin-left: 20px;
        width: 90%;
        overflow: hidden;
}

dl#refs > dd {
        width: 83%;
        float: left;
}

dl#schedule > dt {
        margin-left: 1.2em;
        font-weight: bold;
}

dd > *:first-child {
        margin-top: 0;
}

li p, dd p {
        margin-bottom: 0.3em;
        width: 39.3em;
}
